<div class="modal modal-overlay" ui-if='veiculo' ui-state='veiculo'>
  <div class="scrollable">
    <div class="scrollable-content section">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" ui-turn-off="veiculo">&times;</button>
            <h4 class="modal-title">Dados do Veículo</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Placa</label>
              <input type="text" class="form-control" placeholder="Placa" ng-model="veiculo.placa" ng-required="true" />
            </div>
            <div class="form-group">
              <label>Marca</label>
              <input type="text" class="form-control" placeholder="Marca" ng-model="veiculo.marca" ng-required="true" />
            </div>
            <div class="form-group">
              <label>Modelo</label>
              <input type="text" class="form-control" placeholder="Modelo" ng-model="veiculo.modelo" ng-required="true" />
            </div>
            <div class="form-group">
              <label>Ano Modelo</label>
              <input type="text" class="form-control" placeholder="Ano Modelo" ng-model="veiculo.ano" ng-required="true" />
            </div>
            <div class="form-group">
              <label>Cor</label>
              <input type="text" class="form-control" placeholder="Cor" ng-model="veiculo.cor" ng-required="true" />
            </div>
          </div>
          <div class="modal-footer">
            <button ui-turn-off="veiculo" class="btn btn-default">
          <span class="fa fa-times" aria-hidden="true"></span>
          Cancelar</button>
            <button ui-turn-off="veiculo" class="btn btn-azul" ng-click="cadastroVeiculo(veiculo)">
          <span class="fa fa-plus" aria-hidden="true"></span>
          Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>